<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <label for="tarefa">Tarefa:</label><br>
        <input type="text" name="tarefa" id="" placeholder="Insira o nome da tarefa"  minlength="3" required><br>
        <input type="submit" value="Salvar">
    </form>
    <a href="./">Voltar</a>
</body>
</html>